
/*This is the parent box that holds the three main children*/
main {
    display: flex;
    justify-content: space-around;
}

h2 {
    padding-left: .5em;
}

.fishOwned {
    /*First child of main*/
    flex:2;
    margin:.5em;
    border:1px solid black;
}

/*Second child of main*/
.tipsAndHarvest {
    flex:2;
    margin:.5em;
    border:1px solid black;
}
/*These two are children of tips and harvest*/
.travelTips {
    border:1px solid greenyellow;
}

.harvestPlaces {
    border:1px solid greenyellow;
}


/*Third child of main*/
aside {
    flex:1;
    margin:.5em;
    border:1px solid black;
}
/*This section is here to help format the pictures*/
.fish-image {
    max-width: 18.75em;
    max-height: 9.375em;
}
.location-image {
    max-width:9.375em;
    max-height: 9.375em;
    padding: .5em .25em .5em 0;
}

/*This section will format the cards*/
.location-card {
    display:flex;
    border:tan 2px solid;
}

.fish-card {
    display:flex;
}